
<div class="container">
    <div class="row">
    <h1>Login Page </h1>
    <form action="" method="post">
        
        <label for="email" class="col-md-02">Email</label>
        <input type="email" name="email" id="email" class="col-md-02 form-control" placeholder="email@bice.cl" />
        <br />

        <label for="clave" class="col-md-02">Clave</label>
        <input type="password" name="clave" id="clave" class="col-md-02 form-control" placeholder="**********" />
    </form>
</div>
</div>